<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>

    <ion-item *ngFor="let pokemom of pokemons" [class]="pokemom.types[0] + 'T'">
      <ion-thumbnail>
        <img [src]="pokemom.sprite">
      </ion-thumbnail>

      <div>
        <div class="pokeNome">
          <h1>{{pokemom.name}}</h1>
          <p>#{{pokemom.id}}</p>
        </div>

        <div class="tipos">
          <ion-badge mode="ios" *ngFor="let tipos of pokemom.types" [class]="tipos">{{tipos}}</ion-badge>
        </div>

      </div>

    </ion-item>




  </ion-list>

</ion-content>
